* {
  box-sizing: border-box;
}

body
{
/*    background-color: deeppink;*/
   background-color: #CCE5FF;
}
.oferta
{
    border:1px solid black;
}


article
{
/*    margin-left: 50px;*/
    margin-top: 100px;
    float: left;
    width:83%;
    overflow:hidden;
    

}

/*
article.wyc
{
    width: 100%;
}
*/

#main
{
    text-align: center;
}
.oferta img
{
    width: 100%;
    max-height: 250px;
}

article.wyc
{
    width: 50%;
    text-align: center;
    margin: auto;
    float: none;
}
article.wyc img
{
    width: 100%;
   
}
#wyc
{
    float: left;
    text-align: left;
    margin-top: 100px;
}

#logowanie
{
    margin-top: 100px;
    text-align: left;
}
aside
{
    margin-top: 50px;
    float: left;
    width:17%;
    overflow:hidden;
/*    padding: 5px;*/
}

nav
{
   

}

nav li
{
    float: left;
}

nav li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover {
  background-color: #111;
}
li.lii
{
    float: right;
}
nav ul
{
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.oferta
{
    width: 24vw;
    max-width: 500px;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 50px;
    text-align: left;
    
}
.wiadomosc
{
    width: 100%;
    border:1px solid black;
    margin-top: 50px;
    text-align: left;
        
}
#rejestracja
{
    text-align: left;
}

.oferta input[type=submit]
{
    width: 100%;
}
.oferta input[type=button],  input[type=submit], .oferta input[type=reset], aside input[type=submit]
{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 95%;
}

.wiadomosc input[type=submit]
{
    width: 99.5%;
}

input[type=text], input[type=number], input[type=date], select, input[type=password], input[type=email], input[type=tel]
{
    width: 95%;
    padding: 9px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 17px;
}


aside input[type=text], input[type=number], input[type=date], select
{
    width: 95%;
    padding: 9px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 17px;
}


aside input[type=text]:focus {
  border: 3px solid #555;
}

input[type=radio] {
    border: 0px;

}

.pagination {
/*  display: inline-block;*/
    display: table;
    margin: 0 auto;
    padding-bottom: 40px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

button.szukaj
{
    display: none;
}


@media screen and (max-width:1070px)
{
    
    article,aside
    {
        width:100%;  
        
    }
    nav li
    {
        float: none;
    }
    .oferta
    {
        width: 45vw;
/*
        display: table;
        margin: 0 auto;
*/
    }
    li.lii
    {
        float: none;
    }
    nav ul
    {
        position:inherit;

    }   
    
    button.szukaj
    {
        display:block;
        width: 100%;
        background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
    }
    #szukanie
    {
        display: none;
    }
    article.wyc
{
    width: 75%;
    
}

    
}

@media screen and (max-width:1000px)
{
    .oferta
    {
        width: 85vw;
/*
        display: table;
        margin: 0 auto;
*/
    }
}

/* RESPONSIVE TOPNAV */
